*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 2%;
}
h1, h2{
    text-align: center;
    color: #3a3089;
}
#mode{
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    font-size: 25px;
    border: none;
    background-color: transparent;
}
#mode:hover{
    transform: scale(1.5);
}
#btn1, #btn2, #btn3{
    display: inline-block;
    width: 100px;
    padding: 10px;
    margin-right: 15px;
    border: none;
    background-color: #fff;
    color: #3a3089;
}
#btn1:hover, #btn2:hover, #btn3:hover{
    background-color: #ece9ff;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 5%;
    text-align: center;
}
table, td, th{
    border: 1px solid #fff;    
}
th, td{
    padding: 5px;
}
th{
    background-color: #3a3089;
    color: #fff;
}
tr{
    background-color: #f4f3ff;
}
tr:nth-child(even){
    background-color: #e8e6ff;
}
tr:hover{
    background-color: #d6d1ff;
}
#YearTwoTable, #YearThreeTable{
    display: none;
}
#YearOneTable td:nth-child(3), #YearTwoTable td:nth-child(3), #YearThreeTable td:nth-child(3){
    text-align: left;
}
#cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#summaryTable{
}
#summaryTable tr:nth-child(4) td{
    font-weight: bolder;
}
.gpa-meter-container {
    text-align: center;
    padding: 30px;
}
#gpa-meter{
    display: block;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}